# NODE VPS 3/3.
NODE_ENV=production
WORKER_ID=setor-3
WORKER_PORT=3101
PUBLIC_URL=http://<IP_VPS_3>:3101
PEER_SEEDS=http://<IP_VPS_1>:3101,http://<IP_VPS_2>:3101

PG_USER=setor
PG_PASSWORD=<generate-acak>
PG_SHARED_DB=setor_shared
DATABASE_URL=postgres://setor:<PG_PASSWORD>@postgres:5432/setor_shared
LOCAL_DATABASE_URL=postgres://setor:<PG_PASSWORD>@postgres:5432/setor_local

JWT_SECRET=<SAMA-di-3-node>
INTERNAL_TOKEN=<SAMA-di-3-node>

CORS_ORIGINS=https://dashboard.example.com,http://localhost:3000

# WORKER_DOMAIN=worker3.example.com